// BURGER MENU INACTIVE
#hamburger-menu-icon {
  position: fixed;
  z-index: 1;
  width: 102px;
  height: 102px;
  background: $accent;
  border: none;
  outline: none;
transition: transform 200ms ease-in-out;

}
#hamburger-menu-icon span {
  position: absolute;
  margin: 10px;
  height: 3px;
  background: $grey;
  transform: rotate(0deg);

    transition: transform 200ms ease-in-out;
}
#hamburger-menu-icon span:nth-child(1) {
  width: 56px;
  top: 32px;
  left: 16px;
} 
#hamburger-menu-icon span:nth-child(2) {
  width: 40px;
  top: 48px;
  left: 16px;
} 

// BURGER MENU ACTIVE
#hamburger-menu-icon-active {
  position: fixed;
  background: $off-white;
  z-index: 1;
  width: 102px;
  height: 102px;
  border: none;
  outline: none;
  transition: transform 1000ms ease-in-out;  
& span {
    background: $charcoal;
    position: absolute;
    margin: 10px;
    height: 3px;
    transform: rotate(0deg);
  }
  & span:nth-child(1) {
    width: 32px;
    transform: rotate(45deg);
    top: 40px;
    left: 24px;
  } 
  & span:nth-child(2) {
    width: 32px;
    transform: rotate(-45deg);
    top: 40px;
    left: 24px;
  } 
}

// TRANSITIONS AND STYLING OF BURGER MENU 
.burger-slide-out {
  z-index: 1;
  position: fixed;
  top: 102px;
  left: 0;
  height: calc(100vh - 102px);
  width: 300px;
  display: flex;
  background: $off-white;
  flex-direction: column;
  transform: translateX(-110%);
  transition: transform 0.15s ease-in-out;
  box-shadow: 20px 0px 20px -18px rgba(0, 0, 0, 0.25);
}
.burger-menu-links-wrapper {
  padding: 48px 0px 0px 48px;
}
.burger-menu-links-wrapper ul a:hover {
  text-decoration: none;
}
.burger-menu-links {
  color: $charcoal;
  list-style: none !important;
  padding: 0px;
  & li {
    color: $charcoal;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 8px;
  }
  & li:hover {
    color: #000000;
    text-decoration:none;
  }
}
.burger-open {
  transform: translateX(0);
  transition: transform 200ms ease-in-out;

}
.burger-close {
  height: calc(100vh - 102px);
  color: #999;
  border: none;
  background: $off-white;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
// STYLING FOR THE ACTIVE LINK 
.burger-menu-highlighted {
  list-style: none !important;
  padding: 0px;
  & li {
    display: flex;
    align-items: center;
    color: black;
    height: 48px;
  }
  & .active-rectangle {
    width: 8px;
    position: relative;
    left: -88px;
    height: 100%;
    background-color: $accent;
  }
}

@media (max-width: 568px) {
    #hamburger-menu-icon {
    position: fixed;
    z-index: 1;
    width: 67px;
    height: 67px;
    background: $accent;
    border: none;
    outline: none;
    top: 0px;
    left: 0px;
  }
    #hamburger-menu-icon span {
    position: absolute;
    margin: 10px;
    height: 3px;
    background: $grey;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
  }
  #hamburger-menu-icon span:nth-child(1) {
    width: 40px;
    top: 16px;
    left: 4px;
  } 
  #hamburger-menu-icon span:nth-child(2) {
    width: 24px;
    top: 32px;
    left: 4px;
  } 
  .burger-slide-out {
    z-index: 1;
    position: fixed;
    top: 68px;
    left: 0;
    height: calc(100vh - 68px);
  }
  #hamburger-menu-icon-active {
    position: fixed;
    z-index: 1;
    width: 68px;
    height: 68px;
    border: none;
    outline: none;
    top: 0px;
    left: 0px;
    background: $off-white;
    & span {
      background: $charcoal;
    }
    & span:nth-child(1) {
      width: 24px;
      transform: rotate(45deg);
      top: 26px;
      left: 9px;
    } 
    & span:nth-child(2) {
      width: 24px;
      transform: rotate(-45deg);
      top: 26px;
      left: 9px;
    } 
  }
}


