.header-container {  
  background: $main;
  height: 102px;
}

.header-positioning {
  color: $off-white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}