.social-media-wrapper {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  & a:first-child {
    margin-right: 8px;
  }
  & a img {
    height: 40px;
    border-radius: 50%;
  }
}
