.about-member {
  display: flex;
  margin-bottom: 16px;
}
.about-member-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
}
.about-member-info {

}
.about-member-link {
  display: flex;
  justify-content: flex-end;
  
  & a {
    color: $charcoal;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}
