.project-wrapper {
  min-height: 60vh;
}
.project-info {
  max-width: 70%;
}
.display-none {
  opacity: 0;
  transition: 0.2s ease-in;
  background-color: rgba(233, 233, 233, 0.8);
  &:hover {
    background-color: rgba(233, 233, 233, 0.8);
    opacity: 1;
  }
}
.project-content-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h1 {
    padding: 24px 24px 0px 24px;
  }
  & .project-info {
    padding: 0px 24px 24px 24px;
    & .subheader-text {
      padding: 16px 0px;
    }
    & p {
      margin-bottom: 0px;
    }
  }
}
.tags-text {
  font-size: 24px;
  font-family: $header-font;
}
.link-wrapper {
    padding-bottom: 16px;
    border: 1px solid $grey;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 8px 0px;
}
.link-wrapper a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

@media (max-width: 768px) {
  .project-info {
    max-width: 100%;
  }
  .tags-text {
    font-size: 16px;
  }
}
