// COLORS
$accent: #15624C;
$main: #003E27;
$grey: #E9E9E9;
$charcoal: #444444;
$off-white: #F9F9F9;

// FONTS-SIZES
$header: 48px;
$subheader: 24px;
$body: 16px;

// FONTS
$header-font: 'Playfair Display', serif;
$body-font: 'Lato', sans-serif;


// IMPORT FILES WITH @IMPORT
@import '_burger.scss';
@import '_header.scss';
@import '_footer.scss';


// STANDARD TEXT STYLINGS
.body-text {
  font-size: $body;
  font-family: $body-font;
}
.header-text {
  font-size: $header;
  font-family: $header-font;
}
.subheader-text {
  font-size: $subheader;
  font-family: $header-font;
}
// ADDED TO BODY WHEN BURGER MENU OPEN
.no-scroll {
  overflow: hidden;
}